{% extends "layout.html" %}
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="section section-signup" >
    <div class="row">
      <div class="col-lg-3 col-md-6 mx-auto">
        <div class="rightside d-flex justify-content-center">
          <div class="card card-login" style="height: 17rem;">
            <form class="form" action="{{ url_for('auth_authenticate') }}" method="POST">
              <div class="card-header card-header-info text-center">
                <h4 class="card-title">Inicia Sesión</h4>
              </div>
              <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">mail</i>
                    </span>
                  </div>
                  <input type="text" class="form-control" placeholder="Email" name="email" required>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input class="form-control" placeholder="Contraseña" autocomplete="" type="password" name="password" required >
                </div>
                <div class="footer text-center" style="margin-left: 15px;" >
                  <button type="submit" class="btn btn-info btn-round btn-wd btn-lg">Iniciar sesión</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- <h1>Iniciar sesión</h1>
<form action="{{ url_for('auth_authenticate') }}" method="POST">
  <input name="email" placeholder="Correo" required />
  <input type="password" name="password" placeholder="Clave" required />
  <input type="submit" value="Login">
</form> -->
{% endblock %}