{% extends "layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="col-lg-4 col-md-6 mx-auto">
  <h1>Crear un usuario</h1>
  <form action="{{ url_for('user_create') }}" method="POST">
    <p>
      <label>Nombre: <label></br>
      <input name="first_name" placeholder="Nombre"/>
    </p>
    <p>
      <label>Apellido: <label></br>
      <input name="last_name" placeholder="Apellido"/>
    </p>
    <p>
      <label>Email: <label></br>
      <input name="email" placeholder="Correo"/>
    </p>
    <p>
      <label>Nombre de usuario: <label></br>
      <input name="username" placeholder="Username"/>
    </p>
    <p>
      <label>Contraseña: <label></br>
      <input type="password" name="password" placeholder="Clave"/>
    </p>  
    <p>
      <input class="btn btn-success" type="submit" value="Crear">
      <button class="btn btn-warning" type="reset">Limpiar</button>  
      <a class="btn btn-danger" href="{{ url_for('user_index') }}" class="link">Volver</a>    
    </p>
  </form>
</div>
{% endblock %}
