{% extends "layout/layout.html" %}
{% block title %}Usuarios{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="col-lg-4 col-md-6 mx-auto">
  <h3>Crear un usuario</h3>
  <form action="{{ url_for('user_create') }}" name="form1" method="POST">
    <p>
      <label><strong> Email:</strong>   </label> </br>
          <input type="email" class="form-control" required name="email" placeholder="Correo" />
    </p>
    <p>
      <label><strong> Contraseña:</strong>  </label></br>
          <input class="form-control" required type="password" name="password" placeholder="Clave" />
    </p>
    <p>
      <label><strong> Nombre de usuario:</strong>  </label></br>
          <input class="form-control" required name="username" placeholder="Username" />
    </p>
    <p>
      <label><strong> Nombre: </strong>  </label></br>
          <input class="form-control" required name="first_name" placeholder="Nombre" />
    </p>
    <p>
      <label><strong> Apellido:</strong>   </label></br>
          <input class="form-control" required name="last_name" placeholder="Apellido" />
    </p>

   
      <div class="content">
        <select multiple="multiple" id="select1" style="width:100px;height:160px;border: 1px solid #e4e5ee;
        border-radius: 3px;">
          {% for rol in roles %}
          <option class="optiones" value={{rol.id}}>{{rol.name}}</option>
          {% endfor %}
        </select>
        <div>
          <span class="espanes" id="add">Añadir rol</span>
          <span class="espanes" id="add_all">Añadir todos</span>
        </div>
      </div>
      <div class="content">
        <select multiple name="roles[]" id="select2" style="width: 100px;height:160px;border: 1px solid #e4e5ee;
        border-radius: 3px;">
        </select>
        <div>
          <span class="removes" id="remove">Eliminar rol</span>
          <span class="removes" id="remove_all">Eliminar todos</span>
        </div>
      </div>
  
      <input class="btn btn-info" type="submit" onclick="selectAll();" value="Crear">
      <a class="btn btn-default" href="{{ url_for('usersPag', num_page=1) }}" class="link">Volver</a>
      </p>
    

  </form>
</div>



<style>
  div.content {
    float: left;
    text-align: center;
    margin: 10px;

  }
</style>


<script type="text/javascript">
  jQuery('[name="form1"]').on("submit", selectAll);

  function selectAll() {
    jQuery('[name="roles[]"] option').prop('selected', true).val()
  }
</script>
<script>
  $(function () {
    $('#add').click(function () {
      let $options = $('#select1 option:selected');
      $options.appendTo("#select2");
    });
    $('#add_all').click(function () {
      let $options = $('#select1 option');
      $options.appendTo("#select2");
    });
    $('#select1').dblclick(function () {
      let $option = $('option:selected', this);
      $option.appendTo('#select2');
    });
    $("#remove").click(function () {
      let $options = $('#select2 option:selected');
      $options.appendTo("#select1");
    });
    $("#remove_all").click(function () {
      let $options = $('#select2 option');
      $options.appendTo('#select1');
    });
    $('#select2').dblclick(function () {
      let $option = $('option:selected');
      $option.appendTo("#select1");
    });
  });
</script>






</div>
{% endblock %}