{% extends "layout/layout.html" %}
{% block title %}Mi Perfil{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

{% include 'helpers/messages.html' %}
<div class="col-lg-4 col-md-6 mx-auto">
  <h2>Actualizar usuario</h2>
  <form action="{{ url_for('update_profile')}}" name="form" method="POST">
    <p>
      <label><strong>Email:</strong> </label></br>
          <input type="email" required class="form-control" name="email" disabled placeholder="Correo" value="{{user.email}}" />
    </p>
    <p>
        <label><strong>Username:</strong> </label></br>
            <input type="email" required class="form-control" name="email" disabled placeholder="Correo" value="{{user.username}}" />
      </p>
    <p>
      <label><strong>Contraseña:</strong> </label></br>
          <input class="form-control" type="password" name="password" placeholder="Clave" />
    </p>
    <p>
        <label><strong>Nueva Contraseña:</strong> </label></br>
            <input class="form-control" type="password" name="Newpassword" placeholder="Nueva clave" />
      </p>
      <p>
        <label><strong>Repetir nueva Contraseña:</strong> </label></br>
            <input class="form-control" type="password" name="Newpassword2" placeholder="Nueva clave" />
      </p>
    <p>
      <label><strong>Nombre:</strong> </label></br>
          <input class="form-control"required name="first_name" placeholder="Nombre" value="{{user.first_name}}" />
    </p>
    <p>
      <label><strong>Apellido: </label></br>
          <input class="form-control" required name="last_name" placeholder="Apellido" value="{{user.last_name}}" />
    </p>

  <div class="row text-center">
    <input class="btn btn-info" type="submit"  value="Actualizar">
    <a class="btn btn-default" href="{{ url_for('home')}}" class="link">Cancelar</a>
    </p>
  </form>
</div>
</div>

{% endblock %}