{% extends "layout/layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

{% include 'helpers/messages.html' %}
<div class="col-lg-4 col-md-6 mx-auto">
  <h3>Información del usuario</h3>
  <div>
    <label><strong>Email:</strong> </label></br>
    <span>{{user.email}}</span>
  </div>
  <div>
    <label><strong>Nombre de usuario:</strong> </label></br>
    <span>{{user.username}}</span>
  </div>
  <div>
    <label><strong>Nombre:</strong> </label></br>
    <span>{{user.first_name}}</span>
  </div>
  <div>
    <label><strong>Apellido: </strong></label></br>
    <span>{{user.last_name}}</span>
  </div>
  <div>
    <label><strong>Estado: </strong></label></br>
      {% if user.active %}
      <span> Habilitado </span>
      {%else%}
      <span>  Bloqueado </span>
      {%endif%}
  </div>
  <!--<div>
    <label><strong>Roles: </strong></label></br>
    {% for rol in user_roles %}
      <span>{{rol.id}}</span>
    {% endfor %}
  </div>-->
  <div class="row" style="justify-content: center;">
    <a class="btn btn-default" href="{{ url_for('usersPag', num_page=1) }}" class="link">Volver</a>
  </div>
</div>

{% endblock %}
