{% extends "layout/layout.html" %}
{% block title %}Información turno{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<div class="col-lg-4 col-md-6 mx-auto">
  <h3>Información del turno</h3>
  <div>
    <label><strong> Email solicitante: </strong></label></br>
    <span>{{turn.email_request}}</span>
  </div>
  <div>
    <label><strong> Teléfono solicitante: </strong></label></br>
    <span>{{turn.phone}}</span>
  </div>
  <div>
    <label><strong>Fecha:</strong></label></br>
    <span>{{turn.day}}</span>
  </div>
  <div>
    <label><strong>Horario:</strong></label></br>
    <span>{{timeturn}}</span>
  </div>
</div>
<div class="container d-flex" style="justify-content: center; align-content: flex-end;">
  <a class="btn btn-default" href="{{ url_for('center_turnosDisp', idcenter=idcenter) }}" class="link">Volver</a>
</div>
</div>
{% endblock %}