{% extends "layout/layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}

<div class="container">
  {% include 'helpers/messages.html'%}
  <div class="container">
    <div class="row">
      <form class="form-inline" action="{{url_for('centersSearch', num_page=1)}}" method="POST">
        <div class="form-group has-default bmd-form-group">
          <input type="text" name="name" class="form-control" {% if search %} value="{{ search }}"  {% else %}placeholder="Buscar..."{% endif %}>
        </div>
        <button type="submit" class="btn btn-white btn-raised btn-fab btn-round" style="margin-top: 1em;">
          <i class="material-icons">search</i>
        </button>

        <label style="margin: 2em 0em 0em 2em;"><input type="radio" name="status" value="Aceptado"
          {%if status == "Aceptado" or status == "" %}checked{% endif %}> <strong style="MARGIN-LEFT: 0.5em;">Aceptado</strong>
      </label><br>
      <label style="margin: 2em 0em 0em 2em;"><input type="radio" name="status" value="Pendiente"
          {%if status == "Pendiente" %}checked{% endif %}> <strong style="MARGIN-LEFT: 0.5em;">Pendiente</strong>
        </label><br>
        <label style="margin: 2em 0em 0em 2em;"><input type="radio" name="status" value="Rechazado"
          {%if status == "Rechazado" %}checked{% endif %}> <strong style="MARGIN-LEFT: 0.5em;">Rechazado</strong>
        </label><br>
      </form>
      {%if 'center_new' in user_permisos%}
      <a class="btn btn-info ml-auto" style="height: 3.5em; margin-top: 2em;" href="/centers/new">Crear nuevo centro</a>
      {%endif%}
    </div>
  </div>
  <div class="card">
    <table class="table text-center table-hover table-responsive-md">
      <thead>
        <tr>
          <th scope="col"> Nombre </th>
          <th scope="col"> Dirección </th>
          <th scope="col"> Télefono </th>
          <th scope="col"> Horario</th>
          <th scope="col"> Tipo</th>
          <th scope="col"> Municipio </th>
          <th scope="col"> Estado </th>
        </tr>
      </thead>
      <tbody>
        {% for center in centers.items %}
      <tr>
        <td scope="row">{{center.name}} </td>
        <td>{{center.address}}</td>
        <td>{{center.phone}}</td>
        <td>{{center.open_time}} - {{center.close_time}}</td>
        <td>{{center.center_type}}</td>
        <td>{{center.municipality}}</td>
        <td id="status">
          {% if center.status == "Pendiente" %}
          <svg data-toggle="tooltip" data-placement="top" title="Pendiente" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-clock" fill="orange" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm8-7A8 8 0 1 1 0 8a8 8 0 0 1 16 0z"/>
            <path fill-rule="evenodd" d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
          </svg>
        {% elif center.status == "Aceptado" %}
            <svg data-toggle="tooltip" data-placement="top" title="Aceptado" height="1.5em"  viewBox="0 0 16 16" class="bi bi-check2" fill="green" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
            </svg>
        {% else %}
          <svg id="rejected" data-toggle="tooltip" data-placement="top" title="Rechazado" width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-x" fill="red" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg>
        {% endif %}
          </td>
        <td><a href="{{url_for('center_view',idcenter=center.id)}}">
          <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-eye" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.134 13.134 0 0 0 1.66 2.043C4.12 11.332 5.88 12.5 8 12.5c2.12 0 3.879-1.168 5.168-2.457A13.134 13.134 0 0 0 14.828 8a13.133 13.133 0 0 0-1.66-2.043C11.879 4.668 10.119 3.5 8 3.5c-2.12 0-3.879 1.168-5.168 2.457A13.133 13.133 0 0 0 1.172 8z"/>
            <path fill-rule="evenodd" d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z"/>
          </svg>
        </a>

        </td>
        <td>
          {%if 'center_update' in user_permisos%}
          <a href="{{url_for('center_update',idcenter=center.id)}}">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-pencil-square" "
              xmlns=" http://www.w3.org/2000/svg">
              <path
                d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd"
                d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </a>
          {%endif%}
        </td>
        <td>
          {%if 'center_destroy' in user_permisos%}
          <a href="{{url_for('center_delete',idcenter=center.id)}}">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-trash" "
              xmlns=" http://www.w3.org/2000/svg">
              <path
                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd"
                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </a>
          {%endif%}
        </td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

    <ul class="pagination pagination-info mx-auto" id="page">
      {% for page in pages %}
        {%if page%}
          {% if search %}
            <li class="page-item" ><a id="num{{page}}" href="{{url_for('centersSearch', num_page=page, search=search)}}" class="page-link" >{{page}}</a></li>
          {%else%}  
            <li class="page-item" ><a id="num{{page}}" href="{{ url_for('centers',num_page=page) }}" class="page-link" >{{page}}</a></li>
          {%endif%}
        {%else%}
          ...
        {%endif%}
      {% endfor %}
    </ul>
  </div>
</div>
<script src="{{url_for('static', filename='assets/js/page-scripts/styleCebraTables.js')}}" type="text/javascript"></script>
<script>
  $("#num{{centers.page}}").css({"background": "rgba(0, 188, 200, 1)",
  "color": "aliceblue"})
</script>
{% endblock %}