{% extends "layout/layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}

<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="{{url_for('static', filename='assets/js/page-scripts/mapResize.js')}}" type="text/javascript"></script>
{{ super() }}
{% endblock %}
{% block content %}
{% include 'helpers/messages.html'%}
<form class="container d-flex" style="flex-wrap: wrap;" action="{{ url_for('center_create') }}" name="form1"
  method="POST" onsubmit="submitHandler(event)" enctype="multipart/form-data">
  <div class="col-md-4 col-sm-12">
    <h3>Crear un centro</h3>
    <div>
      <label><strong> Nombre: </strong><strong style="color:#48D1CC;">*</strong></label></br>
      <input class="form-control" required name="name" placeholder="Nombre" />
    </div>
    <div>
      <label><strong> Dirección: </strong><strong style="color:#48D1CC;">*</strong></label></br>
      <input class="form-control" required name="address" placeholder="Dirección" />
    </div>
    <div>
      <label><strong> Teléfono: </strong><strong style="color:#48D1CC;">*</strong></label></br>
      <input class="form-control" required name="phone" placeholder="Teléfono" />
    </div>
    <div class="d-flex" style="margin-bottom: 10px; flex-wrap: wrap;">
      <div class="item-1" style="margin-right: 20px;">
        <label><strong> Hora de apertura: </strong><strong style="color:#48D1CC;">*</strong></label></br>
        <input style="color: #495057; border-color: #DCDCDC; border-radius: 9%; border-style: solid;" type="time"
          required name="open_time" placeholder="Hora de apertura" />
      </div>
      <div class="item-2">
        <label><strong> Hora de cierre: </strong><strong style="color:#48D1CC;">*</strong></label></br>
        <input style="color: #495057; border-color: #DCDCDC; border-radius: 9%; border-style: solid;" type="time"
          required name="close_time" placeholder="Hora de cierre" />
      </div>
    </div>
    <div>
      <label class="control-label"><strong> Tipo de centro: </strong><strong
          style="color:#48D1CC;">*</strong></label></br>
      <select id="selectcentro" class="form-control" required name="center_type" style="color: #D2D2D2;"
        onchange="cambiarcolorC()">
        <option value="" disabled selected hidden> Seleccione una opción</option>
        <option value="Sangre" style="color: #495057">Sangre</option>
        <option value="Plasma" style="color: #495057">Plasma</option>
        <option value="Ropa" style="color: #495057">Ropa</option>
        <option value="Comida" style="color: #495057">Comida</option>
      </select>
    </div>
    <div>
      <label><strong> Municipalidad: </strong><strong style="color:#48D1CC;">*</strong></label></br>
      <select id="selectmuni" class="form-control" required name="municipality" style="color: #D2D2D2;"
        onchange="cambiarcolorM()">
        <option value="" disabled selected hidden>Seleccione una opción</option>
        {%for muni in municipios.keys(): %}
        <option value="{{municipios[muni]['name']}}" style="color: #495057">{{municipios[muni]['name']}}</option>
        {%endfor%}
      </select>
    </div>
    <div>
      <input type="hidden" name="status" id="status" value="Aceptado">
    </div>
    <div>
      <label><strong> Pagina Web: </strong> </label></br>
      <input class="form-control" name="web" placeholder="Web" />
    </div>
    <div>
      <label><strong> Email: </strong> </label></br>
      <input type="email" class="form-control" name="email" placeholder="Email" />
    </div>
    <div>
      <label><strong>Protocolo: </strong></label></br>
      <div class="d-flex" style="align-items: center;">
        <label id="upload" for="files" class="btn archivo" style="margin-right: 10px;">Seleccione el archivo</label>
        <span id="nombrearchivo" style="visibility:hidden; color: #495057"></span>
      </div>
      <input id="files" style="visibility:hidden;" type="file" class="form-control-file" name="protocol"
        onchange="nombrearchivo(this)">
    </div>
  </div>
  <div class="col-md-7 col-sm-12 map-container">
    <div id="mapid"></div>
    <input type="hidden" name="lat" id="lat">
    <input type="hidden" name="lng" id="lng">
  </div>
  <div class="container d-flex botones" style="justify-content: center; align-content: flex-end;">
    <input class="btn btn-info" type="submit" value="Crear">
    <a class="btn btn-default" href="{{ url_for('centers') }}" class="link">Volver</a>
  </div>
</form>
<script src="{{url_for('static', filename='assets/js/page-scripts/cambiarcolores.js')}}"
  type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/page-scripts/nombrearchivo.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/page-scripts/mapstyle.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/map.js')}}" type="text/javascript"></script>
{% endblock %}