{% extends "layout/layout.html" %}
{% block title %}Actualizar centro{% endblock %}
{% block head %}
<script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />

<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet"
  href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.5.1/mapbox-gl-geocoder.css" type="text/css" />
<!-- Promise polyfill script required to use Mapbox GL Geocoder in IE 11 -->
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/es6-promise@4/dist/es6-promise.auto.min.js"></script>
<script src="{{url_for('static', filename='assets/js/page-scripts/mapResize.js')}}" type="text/javascript"></script>
{{ super() }}
{% endblock %}
{% block content %}
{% include 'helpers/messages.html' %}
<form class="container d-flex" style="flex-wrap: wrap;" action="{{ url_for('center_commit_update') }} " name="form1"
  method="POST" onsubmit="submitHandler(event)" enctype="multipart/form-data">
  <div class="col-md-4 col-sm-12">
    <h3>Actualizar centro</h3>
    <input name="id" type="hidden" value="{{center.id}}">
    <div>
      <label><strong> Nombre: </strong> <strong style="color:#48D1CC;">*</strong></label></br>
      <input class="form-control" required name="name" placeholder="Nombre" value="{{center.name}}" />
    </div>
    <div>
      <label><strong> Dirección: </strong> <strong style="color:#48D1CC;">*</strong></label></br>
      <input class="form-control" required name="address" placeholder="Dirección" value="{{center.address}}" />
    </div>
    <div>
      <label><strong> Teléfono: </strong><strong style="color:#48D1CC;">*</strong></label></br>
      <input class="form-control" required name="phone" placeholder="Teléfono" value="{{center.phone}}" />
    </div>
    <div class="d-flex" style="margin-bottom: 10px; flex-wrap: wrap;">
      <div class="item-1" style="margin-right: 20px;">
        <label><strong> Hora de apertura: </strong><strong style="color:#48D1CC;">*</strong></label></br>
        <input style="border-color: #DCDCDC; border-radius: 9%; border-style: solid; color: #495057;" type="time"
          required name="open_time" placeholder="Hora de apertura" value="{{center.open_time}}" />
      </div>
      <div class="item-2">
        <label><strong> Hora de cierre: </strong><strong style="color:#48D1CC;">*</strong></label></br>
        <input style="border-color: #DCDCDC; border-radius: 9%; border-style: solid; color: #495057;" type="time"
          required name="close_time" placeholder="Hora de cierre" value="{{center.close_time}}" />
      </div>
    </div>
    <div>
      <label for="center_type"><strong> Tipo de centro: </strong><strong style="color:#48D1CC;">*</strong></label></br>
      <select id="selectcentro" class="form-control" required name="center_type">
        <option value="{{center.center_type}}" selected hidden> {{center.center_type}}</option>
        <option value="Sangre">Sangre</option>
        <option value="Plasma">Plasma</option>
        <option value="Ropa">Ropa</option>
        <option value="Comida">Comida</option>
      </select>
    </div>
    <div>
      <label><strong> Municipalidad: </strong><strong style="color:#48D1CC;">*</strong></label></br>
      <select class="form-control" required name="municipality">
        <option value="{{center.municipality}}" selected hidden>{{center.municipality}}</option>
        {%for muni in municipios.keys(): %}
        <option value="{{municipios[muni]['name']}}">{{municipios[muni]['name']}}</option>
        {%endfor%}
      </select>
    </div>
    <div>
      <label for="center_status"><strong> Estado del centro: </strong></label></br>
      <select id="center_status" class="form-control" name="status" value="{{center.status}}">
        <option value="{{center.status}}" selected hidden>{{center.status}}</option>
        <option value="Aceptado">Aceptado</option>
        <option value="Pendiente">Pendiente</option>
        <option value="Rechazado">Rechazado</option>
      </select>
    </div>
    <div>
      <label><strong> Pagina Web: </strong></label></br>
      <input class="form-control" name="web" placeholder="Web:"
        value="{%if center.web == ''%} - {%else%}{{center.web}} {%endif%}" />
    </div>
    <div>
      <label><strong> Email:</strong> </label></br>
      <input class="form-control" name="email" placeholder="Email"
        value="{%if center.email == ''%} - {%else%}{{center.email}}{%endif%}" />
    </div>
    <div>
      <label><strong>Protocolo: </strong></label></br>
      <div class="d-flex" style="align-items: center;">
        <label for="files" class="btn" style="margin-right: 10px;">Seleccione el archivo</label>
        <span id="nombrearchivo"
          style="color: #495057">{%if center.protocol != None %}{{center.protocol}}{%endif%}</span>
      </div>
      <input id="files" style="visibility:hidden;" type="file" class="form-control-file" name="protocol"
        onchange="nombrearchivo(this)">
    </div>
  </div>
  <div class="col-md-7 col-sm-12 map-container">
    <div id="mapid"></div>
    <input type="hidden" name="lat" id="lat" value="{{center.latitude}}">
    <input type="hidden" name="lng" id="lng" value="{{center.longitude}}">
  </div>
  <div class="container d-flex botones" style="justify-content: center; align-content: flex-end;">
    <input class="btn btn-info" type="submit" value="Actualizar" style="margin-right: 10px;">
    <a class="btn btn-default" href="{{ url_for('centers') }}" class="link">Volver</a>
  </div>
</form>
<script src="{{url_for('static', filename='assets/js/page-scripts/nombrearchivo.js')}}" type="text/javascript"></script>
<script src="{{url_for('static', filename='assets/js/page-scripts/mapstyle.js')}}" type="text/javascript"></script>

<script src="{{url_for('static', filename='assets/js/map.js')}}" type="text/javascript"></script>

{% endblock %}