{% block navbar %}
{% if is_authenticated(session) %}
<nav class="navbar bg-info fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
        
        <div class="navbar-translate">
            <a class="navbar-brand" href="/"> <img src="https://i.pinimg.com/564x/af/3d/84/af3d84a13c63aa96290637ec646b9ab0.jpg">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user_index') }}" > Usuarios
                    </a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth_logout') }}" >
                        <i class="material-icons">unarchive</i> Cerrar Sesion
                    </a>
                </li> -->
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}