{% extends "layout.html" %}
{% block title %}Consultas{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div class="col-lg-4 col-md-6 mx-auto">
  <h1>Consultas</h1>
  {% for user in users %}
    <li>{{ user.first_name }} - {{ user.last_name }} 
      <a class="btn btn-warning" href="{{url_for('user_update',id=user.id)}}"> Editar</a>
      <a class="btn btn-danger" href="{{url_for('user_delete',id=user.id)}}"> Eliminar Usuario </a></li>
  {% endfor %}
  <a class="btn btn-success" href="/users/new">Crear nuevo usuario</a>
{% endblock %}
   </div>
